<a target="_blank" rel="noopener" class="nav-logo"></a>
<mat-toolbar class="nav-top" color="primary">
  <span class="nav-title">ESCOLHA O SEU BMW.</span>
  <span class="fill-space"></span>
  <button routerLink="/model-list" routerLinkActive="nav-action-is-active" class="nav-action" mat-flat-button>
    <mat-icon class="nav-icon">list</mat-icon>
    <span>Lista de Modelos</span>
  </button>
  <button routerLink="/favorites" routerLinkActive="nav-action-is-active" class="nav-action" mat-flat-button>
    <mat-icon class="nav-icon">favorite</mat-icon>
    <span>Favoritos</span>
  </button>
</mat-toolbar>
